.row {
  color: white;
}
.movies_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.movies_posters::-webkit-scrollbar {
  display: none;
}
.movie_poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}
.movie_poster:hover {
  transform: scale(1.08);
}
.movie_posterLarge {
  max-height: 250px;
}
.movie_posterLarge:hover {
  transform: scale(1.09);
}

@media screen and (max-width: 768px) {
  .row h1 {
    font-size: 1.5rem;
  }
}
